.bg{
        background-repeat: no-repeat;
        width: 100%;
        height: 87vh;
        position: absolute;
        z-index: -1;
        opacity: 0.9;
}
p,h1{
    text-align: center;
}
h1{
    font-size: 48px;
    font-weight: 900;
    color: white;
}
p{
    font-size: 24px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 12vh;
}
.button {
    background-color: red; 
    border: none;
    color: white;
    font-weight: 900;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
.book{
    text-align: center;
}
.para{
    padding: 15px;
    font-size: 20px;
    color: azure;
}
.heading{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
}
.hea{
    font-size: 30px;
    color: black;
    font-weight: 900;
}
.booked p{
    color: rgb(1, 63, 1);
    font-size: 30px;
}