h1{
    font-size: 40px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .btn{
    
    color: black;
    background: rgb(243, 49, 75);
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}
.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    font-size: 20px;
}
option,select{
    font-size: 20px;
}
.subbtn{
    padding: 2px 3px;
    margin: 2px;

}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

input{
    border: 2px solid black;
    border-radius: 10px;
   
    padding: 5px;
    font-size: 20px;
}  
.subbtn{
    border: none;
    
}
.subbtnn{
    margin-left: -30px;
}
.bg{
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    
}
form{
    
    padding:  40px ;
height: 100%;
    background-color: rgb(14, 216, 165);
    border: 1px solid rgb(14, 216, 165);
    border-radius: 10px;
}
