*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
}

header
{
    width:100vw;
    height:70px;
    background-color:rgb(233, 233, 233);
    color:white;
}

nav
{
    height:70px;
    display:flex;
    justify-content: space-between;
}

nav img
{
    height: 70px;
}

nav ul
{
    
    height:70px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav ul li
{
    padding: 23px;
    list-style-type: none;
}

nav ul li a
{
    color:black;
    text-decoration: none;

}

nav ul li:hover
{
    background-color: grey;
}

nav ul li a:active
{
    font-weight: bolder;
}

main
{
    min-height: calc(100vh - 70px - 46px);
}

.slider
{
    width:100vw;
    overflow-y: hidden;
    overflow-x:hidden;
}

.slider img
{
    width:100vw;
}

footer
{
    width:100vw;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(233, 233, 233);
    height:46px;
    color:black;
}